<!DOCTYPE html>
<html>
<head>
    <title>QWA</title>
    {#bundle key="chunk"/}
    {#bundle tag="style" /}
</head>
<body>


<div class="container-sm">
    <h1>Hello QWA</h1>
    <p id="message">Wait for it...</p>
    <div class="slick-carousel">
        <div><img src="https://picsum.photos/300/200?random=1"></div>
        <div><img src="https://picsum.photos/300/200?random=2"></div>
        <div><img src="https://picsum.photos/300/200?random=3"></div>
        <div><img src="https://picsum.photos/300/200?random=4"></div>
        <div><img src="https://picsum.photos/300/200?random=5"></div>
        <div><img src="https://picsum.photos/300/200?random=6"></div>
    </div>

    {#calendar /}

  {#bundle tag="script"/}

    {#image '/static/white_1920_1080.png'/}
</div>
</body>
</html>